force-app/main/default/flows/Autolaunched_Flow_Create_Price_Book_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_PriceBook_Entry_For_Wholesale_Pricebook</name>
        <label>Assign PriceBook Entry For Wholesale Pricebook</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varPriceBookEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Price_Books.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriceBookEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriceBookEntry.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriceBookEntry.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriceBookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWholesalePrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriceBookEntryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPriceBookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Price_Books</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PriceBookEntry</name>
        <label>Assign PriceBook Entry For Retail Pricebook</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varPriceBookEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Price_Books.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriceBookEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriceBookEntry.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriceBookEntry.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriceBookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRetailPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriceBookEntryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPriceBookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Price_Books</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Retail_Price_Book</name>
        <label>Is Retail Price Book ?</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_PriceBook_Entry_For_Wholesale_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Price_Books.IsStandard</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PriceBookEntry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varRetailPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Product.CostPrice__c} + ({!Get_Product.CostPrice__c} * ({!Get_Product.Retail_Profit_Percent__c}/100))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varWholesalePrice</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Product.CostPrice__c} + ({!Get_Product.CostPrice__c} * ({!Get_Product.Wholesale_Profit_Percent__c}/100))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Autolaunched Flow : Create Price Book Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched Flow : Create Price Book Entry</label>
    <loops>
        <name>Loop_Through_Price_Books</name>
        <label>Loop Through Price Books</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Price_Books</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Retail_Price_Book</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Price</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Price</name>
        <label>Create Pricebook Entry</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <inputReference>varPriceBookEntryCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Price_Books</name>
        <label>Get Price Books</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Price_Books</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Books</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varPriceBookEntryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
