force-app/main/default/flows/Product_Record_Trigger_Create_Price_Book_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Pricebook_Entry_For_Retail_Pricebook</name>
        <label>Assign Pricebook Entry For Retail Pricebook</label>
        <locationX>572</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntryRecord.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryRecord.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryRecord.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryRecord.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Retail_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PriceBookEntryRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Price_Book</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pricebook_Entry_For_Wholesale_Pricebook</name>
        <label>Assign Pricebook Entry For Wholesale Pricebook</label>
        <locationX>836</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntryRecord.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryRecord.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryRecord.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryRecord.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Wholesale_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PriceBookEntryRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Price_Book</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Price_Book_Available</name>
        <label>Is Price Book Available ?</label>
        <locationX>704</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Retail_Or_Wholesale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Availabe</defaultConnectorLabel>
        <rules>
            <name>Availabe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Price_Books</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_Or_Wholesale</targetReference>
            </connector>
            <label>Availabe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retail_Or_Wholesale</name>
        <label>Retail Or Wholesale</label>
        <locationX>704</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Assign_Pricebook_Entry_For_Wholesale_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Wholesale</defaultConnectorLabel>
        <rules>
            <name>Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Price_Book.IsStandard</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pricebook_Entry_For_Retail_Pricebook</targetReference>
            </connector>
            <label>Retail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varRetailSalePriceFormula</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CostPrice__c} + ({!$Record.CostPrice__c} * ({!$Record.Retail_Profit_Percent__c}/100))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varWholeSalePriceFormula</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CostPrice__c} +( {!$Record.CostPrice__c} * ({!$Record.Wholesale_Profit_Percent__c} / 100))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Product Record Trigger: Create Price Book Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Record Trigger: Create Price Book Entry</label>
    <loops>
        <name>Loop_Through_Price_Book</name>
        <label>Loop Through Price Book</label>
        <locationX>484</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_Price_Books</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Price_Book_Available</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_In_Price_Book</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Product_In_Price_Book</name>
        <label>Create Product In Price Book</label>
        <locationX>484</locationX>
        <locationY>1068</locationY>
        <inputReference>PriceBookEntryCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Price_Books</name>
        <label>Get Price Books</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Price_Book</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Product2</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Price_Books</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>PriceBookEntryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PriceBookEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PriceBookEntryToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PriceBookEntryToUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>ProductIdsFromPriceBookEntry</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
