force-app/main/default/flows/Product_Record_Trigger_Update_Price_Book_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Pricebook_Entry_Not_Updated</name>
        <label>Pricebook Entry Not Updated</label>
        <locationX>1100</locationX>
        <locationY>816</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varNotificationRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Pricebook Entry Update Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varNotificationBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Recipient_Id</name>
        <label>Assign Recipient Id</label>
        <locationX>1100</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varNotificationRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.LastModifiedBy.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PriceBookEntry_For_Retail_Price</name>
        <label>Update PriceBookEntry For Retail Price</label>
        <locationX>572</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntryToUpdateRecord.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRetailPriceFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryToUpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry_With_Existing_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PriceBookEntryToUpdateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Price_Book</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PriceBookEntry_For_Wholesale_Price</name>
        <label>Update PriceBookEntry For Wholesale Price</label>
        <locationX>836</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntryToUpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry_With_Existing_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryToUpdateRecord.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWholesalePriceFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PriceBookEntryToUpdateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Price_Book</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Retail_Or_Wholesale_To_Update</name>
        <label>Retail Or Wholesale To Update</label>
        <locationX>704</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Update_PriceBookEntry_For_Wholesale_Price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Wholesale</defaultConnectorLabel>
        <rules>
            <name>Update_Retail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Price_Book.IsStandard</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PriceBookEntry_For_Retail_Price</targetReference>
            </connector>
            <label>Update Retail</label>
        </rules>
    </decisions>
    <description>Updated Custom Notification Id</description>
    <environments>Default</environments>
    <formulas>
        <name>varRetailPriceFormula</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CostPrice__c} + ({!$Record.CostPrice__c} * ({!$Record.Retail_Profit_Percent__c}/100))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varWholesalePriceFormula</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.CostPrice__c} + ({!$Record.CostPrice__c} * ({!$Record.Wholesale_Profit_Percent__c}/100))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Product Record Trigger: Update Price Book Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Record Trigger: Update Price Book Entry</label>
    <loops>
        <name>Loop_Through_Price_Book</name>
        <label>Loop Through Price Book</label>
        <locationX>484</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_Price_Books</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Price_Book_Entry_With_Existing_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PriceBookEntry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Record</name>
        <label>Get Custom Notification Record</label>
        <locationX>1100</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricebook_Entry_Not_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricebook_Entry_Update_Failed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry_With_Existing_Product</name>
        <label>Get Price Book Entry With Existing Product</label>
        <locationX>704</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retail_Or_Wholesale_To_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Recipient_Id</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Price_Book.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Books</name>
        <label>Get Price Books</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Price_Book</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PriceBookEntry</name>
        <label>Update PriceBookEntry</label>
        <locationX>484</locationX>
        <locationY>1140</locationY>
        <inputReference>PriceBookEntryToUpdateCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Retail_Profit_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Wholesale_Profit_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CostPrice__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Price_Books</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varNotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Hi  {!$User.FirstName} + {!$User.LastName},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When Trying To Update The Product&apos;s Retail/Wholesale Profit Percentage, {!$Flow.CurrentRecord} Tries To Retrieve The &lt;strong&gt;{!$Record.Name} Product ({!$Record.ProductCode})&lt;/strong&gt;, But Couldn&apos;t Retrieve Thus The PriceBook Entry Haven&apos;t Been Updated!!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Product Name:                                   &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Product Code:                                    &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.ProductCode}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error Message From Flow:                {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Interview Started By :                       {!$Flow.InterviewStartTime}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>PriceBookEntryToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PriceBookEntryToUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>ProductIdsFromPriceBookEntry</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotificationRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
