force-app/main/default/flows/Screen_Flow_Billing_Finalized_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Deserialize_JSON_String</name>
        <label>Deserialize JSON String</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <actionName>JSONDeserialization</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_The_Selected_Products</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonStrings</name>
            <value>
                <elementReference>varJSONStringSelectedProducts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>JSONDeserialization</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_Bill_ID</name>
        <label>Generate Bill ID</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <actionName>CreateBillId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Products_To_Bill</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>CreateBillId</nameSegment>
        <outputParameters>
            <assignToReference>varBillId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Product_Quantity_And_PriceBookEntry</name>
        <label>Update Product Quantity And PriceBookEntry</label>
        <locationX>358</locationX>
        <locationY>3080</locationY>
        <actionName>UpdateProduct</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>pricebookEntriesList</name>
            <value>
                <elementReference>Deserialize_JSON_String</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateProduct</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Values_To_BillLineItem</name>
        <label>Assign Values To BillLineItem</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varBillLineItemRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_The_Selected_Products.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillLineItemRecord.Bill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBillId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillLineItemRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_The_Selected_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillLineItemRecord.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_The_Selected_Products.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillLineItemRecord.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_The_Selected_Products.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillLineItemRecord.Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_The_Selected_Products.Total_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillLineItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBillLineItemRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTotalAmountFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollectPriceBookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_The_Selected_Products.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_The_Selected_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VarIsCustomerAvailable_To_False</name>
        <label>Assign VarIsCustomerAvailable To False</label>
        <locationX>138</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>varIsCustomerAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Final_Bill_Display</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constRetailPriceBookId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s5j00000MfdrFAAR</stringValue>
        </value>
    </constants>
    <constants>
        <name>constWholesalePriceBookId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s5j00000Olu9WAAR </stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Customer_Available</name>
        <label>Is Customer Available ?</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Assign_VarIsCustomerAvailable_To_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Available</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Customer_Available_For_Billing</name>
        <label>Is Customer Available For Biiling</label>
        <locationX>358</locationX>
        <locationY>2348</locationY>
        <defaultConnector>
            <targetReference>Thank_You_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Contains</defaultConnectorLabel>
        <rules>
            <name>Yes_Contains</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsCustomer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCustomer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Record_To_Update</targetReference>
            </connector>
            <label>Yes Contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Customer_Selected</name>
        <label>Is Customer Selected ?</label>
        <locationX>358</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Final_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCustomer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Create_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCustomer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer</targetReference>
            </connector>
            <label>Create New Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Products_Selected</name>
        <label>Is Products Selected ?</label>
        <locationX>358</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>No_Products_Selected_Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Elements</defaultConnectorLabel>
        <rules>
            <name>Contains_Elements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBillLineItemCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Bill_Display</targetReference>
            </connector>
            <label>Contains Elements</label>
        </rules>
    </decisions>
    <decisions>
        <name>Still_Generate_A_Bill</name>
        <label>Still Generate A Bill ?</label>
        <locationX>534</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Don&apos;t Generate</defaultConnectorLabel>
        <rules>
            <name>Generate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_Bill</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Record_Type</targetReference>
            </connector>
            <label>Generate</label>
        </rules>
    </decisions>
    <description>This was a created by Save As the Screen Flow: Billing Main Flow as there are many bugs due to many versions in that flow</description>
    <dynamicChoiceSets>
        <name>PaymentMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Bill__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>varCustomerId</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Customer_Records.Id} != NULL, {!Get_Customer_Records.Id}, 
IF({!Create_New_Contact} , {!varNewCustomerId}, NULL))</expression>
    </formulas>
    <formulas>
        <name>varFinalAmountAfterRedeem</name>
        <dataType>Currency</dataType>
        <expression>IF({!Use_Redeem_Points} != Null || {!Use_Redeem_Points} != 0 ,{!varTotalAmount} - {!Use_Redeem_Points}, {!varTotalAmount})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varFinalRedeemPoints</name>
        <dataType>Number</dataType>
        <expression>IF({!Use_Redeem_Points} != Null || {!Use_Redeem_Points} != 0, {!Use_Redeem_Points}, 0 )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varFinalShopPulsePointToUpdate</name>
        <dataType>Currency</dataType>
        <expression>IF( !ISBLANK({!varShopPulsePointUpdate}) ,  {!varShopPulsePointToAdd} + {!varShopPulsePointUpdate} , {!varShopPulsePointToAdd} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varIsRetailOrWholesale</name>
        <dataType>String</dataType>
        <expression>IF({!varCollectPriceBookId} == &apos;01s5j00000MfdrFAAR&apos;, &apos;Retail&apos;, IF({!varCollectPriceBookId} == &apos;01s5j00000Olu9WAAR&apos;, &apos;Wholesale&apos;, NULL))</expression>
    </formulas>
    <formulas>
        <name>varMobileNumberValidation</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
    OR(
        LEN({!TMobile_Number}) != 10,         
       NOT( OR(
            BEGINS({!TMobile_Number}, &apos;6&apos;),   
            BEGINS({!TMobile_Number}, &apos;7&apos;),    
            BEGINS({!TMobile_Number}, &apos;8&apos;),   
            BEGINS({!TMobile_Number}, &apos;9&apos;)     
        )),
        !ISNUMBER({!TMobile_Number})            
    )
)</expression>
    </formulas>
    <formulas>
        <name>varNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>varShopPulsePointToAdd</name>
        <dataType>Currency</dataType>
        <expression>IF(
    AND(
        {!varTotalAmount} &gt;= 1,
        {!varTotalAmount} &lt; 100
    ),
    0,
    IF(
        AND(
            {!varTotalAmount} &gt;= 100,
            {!varTotalAmount} &lt; 500
        ),
        10,
        IF(
            AND(
                {!varTotalAmount} &gt;= 500,
               {!varTotalAmount}&lt; 1000
            ),
            20,
            IF(
                AND(
                   {!varTotalAmount} &gt;= 1000,
                    {!varTotalAmount}&lt; 5000
                ),
                30,
                50
            )
        )
    )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varShopPulsePointUpdate</name>
        <dataType>Currency</dataType>
        <expression>IF({!Use_Redeem_Points} != 0 &amp;&amp; !ISBLANK({!Use_Redeem_Points}), {!Get_Customer_Record_To_Update.Shop_Pulse_Points__c} - {!Use_Redeem_Points} ,{!Get_Customer_Record_To_Update.Shop_Pulse_Points__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varTotalAmountFormula</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Through_The_Selected_Products.Quantity__c} * {!Loop_Through_The_Selected_Products.UnitPrice}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varUpdatedTotalAmountPurchased</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Customer_Record_To_Update.Total_Amount_Purchased__c} != 0, {!Get_Customer_Record_To_Update.Total_Amount_Purchased__c} + {!varTotalAmount}, {!varTotalAmount})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Screen Flow : Billing Finalized Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow : Billing Finalized Flow</label>
    <loops>
        <name>Loop_Through_The_Selected_Products</name>
        <label>Loop Through The Selected Products</label>
        <locationX>358</locationX>
        <locationY>566</locationY>
        <collectionReference>Deserialize_JSON_String</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_To_BillLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Products_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Billing_Line_Items</name>
        <label>Create Billing Line Items</label>
        <locationX>358</locationX>
        <locationY>2972</locationY>
        <connector>
            <targetReference>Update_Product_Quantity_And_PriceBookEntry</targetReference>
        </connector>
        <inputReference>varBillLineItemCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Customer</name>
        <label>Create Customer</label>
        <locationX>402</locationX>
        <locationY>1682</locationY>
        <assignRecordIdToReference>varNewCustomerId</assignRecordIdToReference>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Date_Of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Customer_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop_Pulse_Points__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Customer_Record_To_Update</name>
        <label>Get Customer Record To Update</label>
        <locationX>226</locationX>
        <locationY>2456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Customer_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCustomerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Record_Type</name>
        <label>Get Cusotmer Record Type</label>
        <locationX>358</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Customer_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Records</name>
        <label>Get Customer Records</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Customer_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Customer_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TMobile_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bill_Type</name>
        <label>Update Bill Type</label>
        <locationX>358</locationX>
        <locationY>2864</locationY>
        <connector>
            <targetReference>Create_Billing_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>varCustomerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>Payment_Mode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>varIsRetailOrWholesale</elementReference>
            </value>
        </inputAssignments>
        <object>Bill__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Shop Pulse Points And Update The Total Amount Purchased</description>
        <name>Update_Customer_Data</name>
        <label>Update Customer Data</label>
        <locationX>226</locationX>
        <locationY>2564</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCustomerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Purchased_Date__c</field>
            <value>
                <elementReference>varNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop_Pulse_Points__c</field>
            <value>
                <elementReference>varFinalShopPulsePointToUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount_Purchased__c</field>
            <value>
                <elementReference>varUpdatedTotalAmountPurchased</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Final_Bill_Display</name>
        <label>Final Bill Display</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Customer_Record_Type</targetReference>
        </connector>
        <fields>
            <name>FinalBillingTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Billing_Product__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Final Billing Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varBillLineItemCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-40a2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Billing Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-0cd0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Price__c&quot;,&quot;guid&quot;:&quot;column-bc83&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Total_Price__c&quot;,&quot;guid&quot;:&quot;column-a871&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Final_Bill_Display_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Final_Bill_Display_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IsCustomer</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>IsCustomer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;New Customer Is Selected !&lt;/p&gt;</errorMessage>
                        <formulaExpression>!({!IsCustomer} &amp;&amp;  {!NewCustomer})</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>TMobile_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Mobile Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Enter the valid Mobile Number:&lt;/p&gt;&lt;p&gt;--&amp;gt; It should contain numbers only&lt;/p&gt;&lt;p&gt;--&amp;gt; It should contain 10 digits&lt;/p&gt;&lt;p&gt;--&amp;gt; It should start with 6,7,8,9&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!TMobile_Number},&quot;[6-9]{1}[0-9]{9}&quot;)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsCustomer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Final_Bill_Display_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewCustomer</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>NewCustomer ?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NewCustomer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Mobile_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Mobile Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Enter the valid Mobile Number:&lt;/p&gt;&lt;p&gt;--&amp;gt; It should contain numbers only&lt;/p&gt;&lt;p&gt;--&amp;gt; It should contain 10 digits&lt;/p&gt;&lt;p&gt;--&amp;gt; It should start with 6,7,8,9&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Mobile_Number},&quot;[6-9]{1}[0-9]{9}&quot;)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NewCustomer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NewCustomer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Date_Of_Birth</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NewCustomer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Final_Bill_Display_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TotalPriceOfAllProducts</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;TOTAL : &lt;/strong&gt;&lt;strong style=&quot;color: rgb(45, 131, 73); font-size: 16px;&quot;&gt;{!varTotalAmount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ErrorMessageNoCustomerAvailable</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(192, 28, 28);&quot;&gt;Sorry!! We Couldn&apos;t Find Customer With Provided Mobile Number.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varIsCustomerAvailable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>BILL</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>358</locationX>
        <locationY>2240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Customer_Available_For_Billing</targetReference>
        </connector>
        <fields>
            <name>FinalListOfProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PricebookEntry</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Final List Of Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Deserialize_JSON_String</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6ad1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-be89&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-3bfe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;List Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Total_Price__c&quot;,&quot;guid&quot;:&quot;column-4ad0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Final_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Final_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayCustomerDetails</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;u&gt;Name: &lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(51, 124, 43);&quot;&gt;{!Get_Customer_Records.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;u&gt;ShopPulse Point: &lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(74, 111, 29);&quot;&gt;{!Get_Customer_Records.Shop_Pulse_Points__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Customer_Records.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DisplayNewConsumerDetails</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Name: {!Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;ShopPulse Point: &lt;/strong&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(35, 118, 50);&quot;&gt;0&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NewCustomer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RedeemUsingPoints</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Redeem Using Points?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Customer_Records.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Create_New_Contact</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Final_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TotalAmountPurchased</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Total Amount: &lt;/strong&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(16, 102, 30);&quot;&gt;{!varTotalAmount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Use_Redeem_Points</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Use Redeem Points</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Redeem Point Is Lesser Than Entered Points Or Total Amount Is Lesser Than Entered Points&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT({!Get_Customer_Records.Shop_Pulse_Points__c} &lt; {!Use_Redeem_Points} || {!varTotalAmount} &lt; {!Use_Redeem_Points})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RedeemUsingPoints</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Customer_Records.Shop_Pulse_Points__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Payment_Mode</name>
            <choiceReferences>PaymentMethod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Products_Selected_Display</name>
        <label>No Products Selected Display</label>
        <locationX>534</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Still_Generate_A_Bill</targetReference>
        </connector>
        <fields>
            <name>NoProductsChosen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;NO PRODUCTS HAVE BEEN SELECTED :(&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Generate_Bill</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Generate Bill ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Products_To_Bill</name>
        <label>Select Products To Bill</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Deserialize_JSON_String</targetReference>
        </connector>
        <fields>
            <name>PriceBookEntriesDataTable</name>
            <extensionName>c:datatablePractise</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varJSONStringSelectedProducts</assignToReference>
                <name>selectedProducts</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start</name>
        <label>Start</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Generate_Bill_ID</targetReference>
        </connector>
        <fields>
            <name>StartBilling</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 72px; font-family: sans-serif; color: rgb(64, 121, 37);&quot;&gt;START BILLING&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>START BILL</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>358</locationX>
        <locationY>2756</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Bill_Type</targetReference>
        </connector>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: serif; font-size: 28px; color: rgb(27, 28, 27);&quot;&gt;Thanks For Your Purchase!!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: serif; font-size: 28px; color: rgb(27, 28, 27);&quot;&gt;Total Amount Purchased: &lt;/strong&gt;&lt;strong style=&quot;font-family: serif; font-size: 28px; color: rgb(46, 121, 46);&quot;&gt;{!varTotalAmount}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinalBillIfCustomerAvailable</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(27, 28, 27); font-size: 28px; font-family: serif;&quot;&gt;ShopPulse Point Used: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(45, 108, 45); font-size: 28px; font-family: serif;&quot;&gt;{!varFinalRedeemPoints}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(27, 28, 27); font-size: 28px; font-family: serif;&quot;&gt;Amount To Pay: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(57, 118, 57); font-size: 28px; font-family: serif;&quot;&gt;{!varFinalAmountAfterRedeem}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 28px; font-family: serif;&quot;&gt;ShopPulsePoints Added: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(57, 118, 57); font-size: 28px; font-family: serif;&quot;&gt;{!varShopPulsePointToAdd}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>IsCustomer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NewCustomer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ThankYouImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ThankYou</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Thank You!!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>border-radius:5px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varBillId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Product__c</objectType>
    </variables>
    <variables>
        <name>varBillLineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Product__c</objectType>
    </variables>
    <variables>
        <name>varCollectPriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIsCustomerAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varJSONStringSelectedProducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRedeemPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRetailPriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01s5j00000MfdrFAAR</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTotalAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
