force-app/main/default/flows/Screen_Attendance_Main_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Create_Attendance_Record_With_Status_Absent</name>
        <label>Create Attendance Record With Status Absent</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AttendanceRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Absent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceRecord.Employee_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Employees.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AttendanceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Attendance_Record_With_Status_Present</name>
        <label>Create Attendance Record With Status Present</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AttendanceRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Present</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceRecord.Employee_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Employees.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AttendanceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Number_Of_Absent_Days</name>
        <label>Increase Number Of Absent Days</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Selected_Employees.Days_Absent__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Selected_Employees.Is_Registered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Selected_Employees.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_Absent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Selected_Employees.Is_Present__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCollectionUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Employees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attendance_Record_With_Status_Absent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Number_Of_Days_Present</name>
        <label>Increase Number Of Days Present</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Selected_Employees.Days_Present__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Selected_Employees.Is_Registered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Selected_Employees.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_Present</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Selected_Employees.Is_Present__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCollectionUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Employees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attendance_Record_With_Status_Present</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Selected_Employee_In_All_Employees</name>
        <label>Is Selected Employee In All Employees</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Increase_Number_Of_Absent_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Selected_Employees.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_Number_Of_Days_Present</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_Absent</name>
        <dataType>String</dataType>
        <expression>BR() &amp; TEXT(TODAY()) &amp;&quot; : Absent  &quot;</expression>
    </formulas>
    <formulas>
        <name>forT_Present</name>
        <dataType>String</dataType>
        <expression>BR() &amp; TEXT(TODAY()) &amp;&quot; : Present  &quot;</expression>
    </formulas>
    <interviewLabel>Screen : Attendance Main Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : Attendance Main Flow</label>
    <loops>
        <name>Loop_Through_Selected_Employees</name>
        <label>Loop Through Selected Employees</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_All_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Selected_Employee_In_All_Employees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Employees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attendance_Records</name>
        <label>Create Attendance Records</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <inputReference>AttendanceRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Employees</name>
        <label>Get All Employees</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Selected_Employees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordtypeId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Registered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordtypeId</name>
        <label>Get RecordtypeId</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Employees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Employees</name>
        <label>Update All Employees</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Create_Attendance_Records</targetReference>
        </connector>
        <inputReference>varR_EmployeeCollectionUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordtypeId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AttendanceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
    <variables>
        <name>AttendanceRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
    <variables>
        <name>CollectionOfEmployeesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_EmployeeCollectionUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
