force-app/main/default/flows/ST_Create_salary_record_new.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Salary_Records_And_Update_Employee_Fields</name>
        <label>Assign Salary Records And Update Employee Fields</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>varSalaryRecord.Days_Present__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Employees.Days_Present__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalaryRecord.Days_Absent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Employees.Days_Absent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalaryRecord.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Employees.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalaryRecord.Salary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Employees.Salary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalaryRecord.Final_Salary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Employees.Final_Salary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalaryRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_SalaryName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalaryRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Employees.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalaryRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSalaryRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Employees</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Today_Last_Day_Of_This_Month</name>
        <label>Is Today Last Day Of This Month ?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsLastDayOfMonth</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_type_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_SalaryName</name>
        <dataType>String</dataType>
        <expression>CASE
(MONTH(TODAY()), 
 1, &quot;Janaury&quot;,
2, &quot;February&quot;,
3, &quot;March&quot;, 
4, &quot;April&quot;,
5, &quot;May&quot;,
6, &quot;June&quot;,
7, &quot;July&quot;,
8, &quot;August&quot;,
9,&quot;September&quot;,
10, &quot;October&quot;,
11, &quot;November&quot;,
&quot;December&quot; 
)
+ &quot; &quot; +&quot;Month Salary for &quot; + {!Loop_Through_Employees.Full_Name__c}</expression>
    </formulas>
    <formulas>
        <name>IsLastDayOfMonth</name>
        <dataType>Boolean</dataType>
        <expression>MONTH(TODAY()) != MONTH(TODAY() + 1)</expression>
    </formulas>
    <interviewLabel>ST- Create salary record new {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ST- Create salary record new</label>
    <loops>
        <name>Loop_Through_Employees</name>
        <label>Loop Through Employees</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_All_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Salary_Records_And_Update_Employee_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Salary_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Salary_Records</name>
        <label>Create Salary Records</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Update_Employee_Records</targetReference>
        </connector>
        <inputReference>varSalaryRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Employees</name>
        <label>Get All Employees</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Employees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_record_type_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_type_ID</name>
        <label>Get record type ID</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Employees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Employee_Records</name>
        <label>Update Employee Records</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_record_type_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Days_Absent__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Days_Present__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Today_Last_Day_Of_This_Month</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-30</startDate>
            <startTime>23:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varSalaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Salary__c</objectType>
    </variables>
    <variables>
        <name>varSalaryRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Salary__c</objectType>
    </variables>
</Flow>
